{
  "extends": ["airbnb-base", "plugin:prettier/recomended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": "error",
    "semi": "error"
  }
}
